<div class="row">
        <hr>
          <div  class="col-xs-12 col-md-8 col-md-offset-2">



            <div class="list-group" *ngIf="!bevMealSelected"><p style="color: white; text-align: center; ">What drink or meal would you like to order?</p>
              <h3>Alcoholic Drinks</h3>
              <hr>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('mead')">Nord Mead</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('honey')">Honningbrew Mead</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('spiced')">Spiced Wine</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('colovian')">Colovian Brandy</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('rum')">Stros-M'kai Rum</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('skooma')">Skooma</button>

              <h3>Meals</h3>

              <hr>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('pie')">Apple Pie</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('sweetroll')">Sweetroll</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('stew')">Horker Stew</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('lavender')">Lavender Bread</button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('stew')"></button>
              <button type="button" class="list-group-item list-group-item-action" (click)="Order('lavender')">Lavender Bread</button>

              <hr>
            </div>
            <br>
            <br>
            <br>
            <br>
           <h2 *ngIf="!bevMealSelected">One {{beverageMeal}}, coming right up!</h2>
          </div>

        </div>


<div class="row">

  <div class="card"  style="display: inline-block; height: 150px; width: 150px;">
        <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
        <div class="container">
          <h4><b>Nord Mead</b></h4>
        </div>
    </div>

    <div class="card" style="display: inline-block; height: 150px; width: 150px;">
        <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
        <div class="container">
          <h4><b>Honningbrew Mead</b></h4>
        </div>
    </div>

    <div class="card" style="display: inline-block; height: 150px; width: 150px;">
        <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
        <div class="container">
          <h4><b>Spiced Wine</b></h4>
        </div>
    </div>


</div>

<div class="row">
    <div class="card"  style="display: inline-block; height: 150px; width: 150px;">
        <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
        <div class="container">
          <h4><b>Colovian Brandy</b></h4>
        </div>
    </div>

    <div class="card" style="display: inline-block; height: 150px; width: 150px;">
        <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
        <div class="container">
          <h4><b>Stros-M'kai Rum</b></h4>
    </div>

    <div class="card" style="display: inline-block; height: 150px; width: 150px;">
      <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
      <div class="container">
        <h4><b>Skooma</b></h4>
  </div>
</div>





    <!--Here will be the meals going on-->

    <div class="row">

      <div class="card"  style="display: inline-block; height: 150px; width: 150px;">
            <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
            <div class="container">
              <h4><b>Apple Pie</b></h4>
            </div>
        </div>

        <div class="card" style="display: inline-block; height: 150px; width: 150px;">
            <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
            <div class="container">
              <h4><b>Sweetroll</b></h4>
            </div>
        </div>

        <div class="card" style="display: inline-block; height: 150px; width: 150px;">
            <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
            <div class="container">
              <h4><b>Horker Stew</b></h4>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="card"  style="display: inline-block; height: 150px; width: 150px;">
            <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
            <div class="container">
              <h4><b>Lavender Bread</b></h4>
            </div>
        </div>

        <div class="card" style="display: inline-block; height: 150px; width: 150px;">
            <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
            <div class="container">
              <h4><b>Stros-M'kai Rum</b></h4>
        </div>

        <div class="card" style="display: inline-block; height: 150px; width: 150px;">
          <img src="https://produits.bienmanger.com/34491-0w470h470_Corona_Extra_Mexican_Blonde_Beer.jpg" alt="drink" style="width:50%">
          <div class="container">
            <h4><b>Skooma</b></h4>
      </div>
    </div>


