
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <br>
      <br>
    <h1>Greetings, traveler!
      <br>
      <br>
          Haven't seen your face around here before.
      <br>
      <br>
          What's your name?

    </h1>



<br>

      <input type = "text" class="form-control" placeholder=" Name ">
      <br>
      <input type = "text" class="form-control" placeholder=" LastName ">

      <button class= "btn btn-outline-secondary">Submit</button>
      <hr>
      <app-select-beverage></app-select-beverage>

    </div>
  </div>
</div>
